{% load static %}

<section class="section-about">
    <!-- u-center-text is a utitlity class -->
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary" id="about">
            Our Mission
        </h2>
    </div>

    <div class="row">
        <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">
            Who we are and what we do
        </h3>
        <p class="paragraph">
            The Developer Student Club is an initiative launched and supported by Google Developers. 
            The goal of the DSC is to empower VIU students to make an impact in our community using technology,
            to practice and expand on the skills taught in school, to work together on real world
            solutions and focusing on career oriented networking.
        </p>

        <h3 class="heading-tertiary u-margin-bottom-small">
            By students for students
        </h3>
        <p class="paragraph">
            We’re a group of passionate students with interests in different fields of technology including
            machine learning, embedded systems, web-development, mobile development, dev-ops, network engineering
            and system administration just to name a few
        </p>
        <a class="btn-text" href="#">Learn More &rarr;</a>
        </div>

        <!--Image Composition -->
        <div class="col-1-of-2">
        <div class="composition">
            <img class="composition__photo composition__photo--p1" src="{% static 'landingPage/img/dsc-2.jpg' %}" alt="photo 1">
            <img class="composition__photo composition__photo--p2" src="{% static 'landingPage/img/dsc-3.jpg' %}" alt="photo 2">
            <img class="composition__photo composition__photo--p3" src="{% static 'landingPage/img/dsc-1.jpg' %}" alt="photo 3">
        </div>
        </div>
    </div>
</section>
