{% load static %}

<section class="section-about">
    <!-- u-center-text is a utitlity class -->
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary" id="about">
        Goals of the Club
        </h2>
    </div>

    <div class="row">
        <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">
            Write something here about the goals of the club
        </h3>
        <p class="paragraph">
        Amet iusto laboriosam velit rerum necessitatibus, repudiandae,
        expedita. Laudantium fugit omnis impedit quisquam dolores 
        Doloremque cum odio ut atque aspernatur
        </p>

        <h3 class="heading-tertiary u-margin-bottom-small">
            Write something else here??
        </h3>
        <p class="paragraph">
        Amet iusto laboriosam velit rerum necessitatibus, repudiandae,
        expedita. Laudantium fugit omnis impedit quisquam dolores 
        </p>
        <a class="btn-text" href="#">Learn More &rarr;</a>
        </div>

        <!--Image Composition -->
        <div class="col-1-of-2">
        <div class="composition">
    <img class="composition__photo composition__photo--p1" src="{% static 'landingPage/img/nat-1-large.jpg' %}" alt="photo 1">
    <img class="composition__photo composition__photo--p2" src="{% static 'landingPage/img/nat-2-large.jpg' %}" alt="photo 2">
    <img class="composition__photo composition__photo--p3" src="{% static 'landingPage/img/nat-3-large.jpg' %}" alt="photo 3">
        </div>
        </div>
    </div>
</section>