{% extends "../base.html" %}
{% load static %}

{% block content %}

{% include "landingPage/navigation.html" %}


  <!-------------------------- Hero section  --------------------------------->
  <header id="header-top" class="header">
    <div class="header__logo-box">
      <img class="header__logo" src="{% static 'landingPage/img/header-logo.png' %}" alt="Developer Student Club Nanaimo">
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary" >
        <span class="heading-primary--main">Developer Student Club</span>
        <span class="heading-primary--sub">@Vancouver Island University</span>
      </h1>
      <a class="btn btn--white btn--animated" href="#register">Register</a>
    </div>
  </header>

  <main>
    <!------------------------- About Section ----------------------------------> 
    {% include "landingPage/about.html" %}
    
    <!-------------------- Features Section ----------------------------->
    {% include "landingPage/features.html" %}
    
    <!----------------- Members Section --------------------------->
    {% include "landingPage/member_cards.html" %}

    <!-- Club Updates Section -->
    {% include "landingPage/updates.html" %}
    
    <!--  Registration Form Section -->
    {% include "landingPage/registration.html" %}
    
  </main>


  <!-- Pop-ups from cards -->
  {% include "landingPage/member_popups.html" %}




  
  
  <!-- 
  =============================================================
  This is a light weight custom grid, using float.
  the scss is defined in layout/_grid.scss
  if you work on the VIU CSCI website in the future and you want 
  to add something to the site, just copy and paste from the below 
  mark-up depending on how many rows and columns 
  you want. This is meant to speed up your work flow, please don't
  delete this commented out code. 
  =============================================================

  <section class="grid-test">

  <div class="row">
    <div class="col-1-of-2">
      Column One of two
    </div>
    <div class="col-1-of-2">
      Column One of two
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-3">
      Column One of three
    </div>
    <div class="col-1-of-3">
      Column One of three
    </div>
    <div class="col-1-of-3">
      Column One of three
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-3">
      Column One of three
    </div>
    <div class="col-2-of-3">
      Column two of three
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-4">
      Column One of four
    </div>
    <div class="col-1-of-4">
      Column One of four
    </div>
    <div class="col-1-of-4">
      Column One of four
    </div>
    <div class="col-1-of-4">
      Column One of four
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-4">
      Column One of four
    </div>
    <div class="col-1-of-4">
      Column One of four
    </div>
    <div class="col-2-of-4">
      Column two of four
    </div>
  </div>

  <div class="row">
    <div class="col-1-of-4">
      Column One of four
    </div>
    <div class="col-3-of-4">
      Column three of four
    </div>
  </div>

  </section>
End Test Grid----------------------- 
  -->

{% endblock %}

{% block footer %}
  {% include "../footer.html" %}
{% endblock %}