{% load static %}

    <!-- Pop up 1 -->
    <div id="popup-1" class="popup">
        <div class="popup__content">
            <div class="popup__left">
            <img class="popup__img" src="{% static 'landingPage/img/lenz-popup.jpg' %}" alt="Lenz T Paul">
            <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
            </div>
            <div class="popup__right">
                <!-- this is the close button -->
                <a class="popup__close" href="#section-members">&times;</a>
                <h2 class="heading-secondary u-margin-bottom-small">Lenz T Paul</h2>
                <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Lead</h3>
                <p class="popup__text">
                    A 2nd year Computer Science Major at V.I.U and a 9 year sales veteran from Bell Canada,
                    Lenz has heavy interests in Data Science and anything related to big data for business.
                    Focused languages are C++, Python, R and VBA. Most used frameworks include Pytorch and Django.
                    <div class="popup__text--break">
                        You can connect with Lenz via 
                        <a class="popup__link--1" href="www.linkedin.com/in/lenztpaul">Linkedin</a> 
                        and you can check out their code on
                        <a class="popup__link--1" href=" https://github.com/bringbackthedog">Github</a>
                    </div>
                </p>
                <!-- Contact Icons here -->
            </div>
        </div>
    </div>

    <!-- Pop up 2  -->
    <div id="popup-2" class="popup">
        <div class="popup__content">
            <div class="popup__left">
            <img class="popup__img" src="{% static 'landingPage/img/faith-popup.jpg' %}" alt="Faith Hewitt">
            <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
            </div>
            <div class="popup__right">
            <!-- this is the close button -->
            <a class="popup__close" href="#section-members">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Faith Hewitt</h2>
            <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member </h3>
            <p class="popup__text">
                A 3rd year Computer Science and Psychology Major at Vancouver Island University.
                Interests- Brain Computer Interfaces, Neuroscience , and Security
                Hobbies- Works at an IT desk at VIU and as a First Aid Instructor with ABCB.
                <div class="popup__text--break">
                    You can connect with Faith via 
                    <a class="popup__link--2" href="www.linkedin.com/in/">Linkedin</a> 
                    and you can check out their code on
                    <a class="popup__link--2" href=" https://github.com/">Github</a>
                </div>
            </p>
            <!-- Contact Icons here -->
            </div>
        </div>
    </div>

    <!-- Pop up 3  -->
    <div id="popup-3" class="popup">
        <div class="popup__content">
            <div class="popup__left">
            <img class="popup__img" src="{% static 'landingPage/img/matt-popup.jpg' %}" alt="Matt Williams">
            <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
            </div>
            <div class="popup__right">
            <!-- this is the close button -->
            <a class="popup__close" href="#section-members">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Matt Williams</h2>
            <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
            <p class="popup__text">
                A 2nd year Computer Science Major at V.I.U, Matt's core interests are in C/C++
                programming, full stack web development, scripting and anything related
                to the Linux operating system. Favorite languages include C/C++, Python, Bash and Dart. 
                Favorite Libraries are Gtk++/Gtkmm, Django, Selenium and Flutter.
                <div class="popup__text--break">
                    You can connect with Matt via
                    <a class="popup__link--3" href="https://www.linkedin.com/in/mattkwilliams1989/">Linkedin</a> 
                    and you can check out their code on
                    <a class="popup__link--3" href=" https://github.com/mattcoding4days">Github</a>
                </div>
            </p>
            <!-- Contact Icons here -->
            </div>
        </div>
    </div>

    <!-- Pop up 4  -->
    <div id="popup-4" class="popup">
        <div class="popup__content">
            <div class="popup__left">
            <img class="popup__img" src="{% static 'landingPage/img/bohdan-popup.jpg' %}" alt="Bohdan Natsevych">
            <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
            </div>
            <div class="popup__right">
            <!-- this is the close button -->
            <a class="popup__close" href="#section-members">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Bohdan Natsevych</h2>
            <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
            <p class="popup__text">
                A fourth year student enrolled in Bachelor of Computer Science program with previous 2 years’ 
                experience as a software developer and Scrum leader.
                Has confident knowledge in such languages as C++, C#, PHP, JavaScript, HTML/CSS, SQL.
                Confident user of MS Visual Studio, Crystal Report, PhpStorm, Windows, Linux.
                Interested in ML, Kotlin, Python. Joined the DSC to share my knowledge and experience as 
                well as gain organizational and team-working skills.
                <div class="popup__text--break">
                    You can connect with Dan via
                    <a class="popup__link--4" href="www.linkedin.com/in/bohdan-natsevych-a322b78a">Linkedin</a> 
                    and you can check out their code on
                    <a class="popup__link--4" href=" https://github.com/BohdanNatsevych">Github</a>
                </div>
            </p>
            <!-- Contact Icons here -->
            </div>
        </div>
    </div>

    <!-- Pop up 5  -->
    <div id="popup-5" class="popup">
        <div class="popup__content">
            <div class="popup__left">
            <img class="popup__img" src="{% static 'landingPage/img/liam-popup.jpg' %}" alt="Liam Kaufman-Willis">
            <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
            </div>
            <div class="popup__right">
            <!-- this is the close button -->
            <a class="popup__close" href="#section-members">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Liam Kaufman-Willis</h2>
            <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
            <p class="popup__text">
                2nd year Computing Science Major; an open mind.
                Most experienced in C++, but loves to dabble in SuperCollider (SCLang), 
                C + NCurses, and Lisps (Common and Ronin). Easily persuaded to mess about in Prolog.
                Compsci Interests:
                   open-source + community projects,
                   privacy,
                   federation + decentralization,
                   security (red and blue team),
                   containerization + Internet of Things,
                   programming tool design.
                <div class="popup__text--break">
                    You can connect with Liam via
                    <a class="popup__link--5" href="www.linkedin.com/in/">Linkedin</a> 
                    and you can check out their code on
                    <a class="popup__link--5" href=" https://github.com/">Github</a>
                </div>
            </p>
            <!-- Contact Icons here -->
            </div>
        </div>
    </div>

    <!-- Pop up 6  -->
    <div id="popup-6" class="popup">
        <div class="popup__content">
            <div class="popup__left">
            <img class="popup__img" src="{% static 'landingPage/img/phil-popup.jpg' %}" alt="Phil Beton">
            <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
            </div>
            <div class="popup__right">
            <!-- this is the close button -->
            <a class="popup__close" href="#section-members">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Phil Beton</h2>
            <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
            <p class="popup__text">
                Phil is a 4th year Computer Science Major who has yet to turn in his bio to the
                team google drive.
                <div class="popup__text--break">
                    You can connect with Phil via
                    <a class="popup__link--6" href="www.linkedin.com/">Linkedin</a> 
                    and you can check out their code on
                    <a class="popup__link--6" href=" https://github.com/">Github</a>
                </div>
            </p>
            <!-- Contact Icons here -->
            </div>
        </div>
    </div>

    <!-- Pop up 7  -->
    <div id="popup-7" class="popup">
        <div class="popup__content">
            <div class="popup__left">
            <img class="popup__img" src="{% static 'landingPage/img/ryo-popup.jpg' %}" alt="Ryo Kihara">
            <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
            </div>
            <div class="popup__right">
            <!-- this is the close button -->
            <a class="popup__close" href="#section-members">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Ryo Kihara</h2>
            <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
            <p class="popup__text">
                2nd year, an international student, majoring Computer Science. My passions align with mobile app development, 
                machine learning and videography specialized in social media. As I further my studies and activities at this 
                developer student club, I hope to gain more cooperation skills and professional experience with developing apps, 
                in order to pursue my goal of becoming a mobile app developer. 
                Interest - mobile app development, machine learning, augmented reality, and videography.
                Favorite languages are C++, CSS/HTML and Kotlin
                <div class="popup__text--break">
                    You can connect with Ryo via
                    <a class="popup__link--7" href="www.linkedin.com/in/">Linkedin</a> 
                    and you can check out their code on
                    <a class="popup__link--7" href=" https://github.com/">Github</a>
                </div>
            </p>
            <!-- Contact Icons here -->
            </div>
        </div>
    </div>

    <!-- Pop up 8  -->
    <div id="popup-8" class="popup">
        <div class="popup__content">
            <div class="popup__left">
            <img class="popup__img" src="{% static 'landingPage/img/ezra-popup.jpg' %}" alt="Ezra Macdonald">
            <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
            </div>
            <div class="popup__right">
            <!-- this is the close button -->
            <a class="popup__close" href="#section-members">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Ezra Macdonald</h2>
            <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
            <p class="popup__text">
                Final year student in Computing Science and Economics. Interests include but are not limited to: Python, 
                JavaScript, Neuroscience, open source projects, education, and any essay written by Montaigne!
                <div class="popup__text--break">
                    You can connect with Ezra via
                    <a class="popup__link--8" href="www.linkedin.com/in/ezra-macdonald-27a85854">Linkedin</a> 
                    and you can check out their code on
                    <a class="popup__link--8" href=" https://github.com/macdonaldezra">Github</a>
                </div>
            </p>
            <!-- Contact Icons here -->
            </div>
        </div>
    </div>

    <!-- Pop up 9  -->
    <div id="popup-9" class="popup">
    <div class="popup__content">
        <div class="popup__left">
        <img class="popup__img" src="{% static 'landingPage/img/new-member-popup.png' %}" alt="new member">
        <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">New Member</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash;Member</h3>
        <p class="popup__text">
            The DSC core members are responsible for leading hackathons, workshops, maintaing this web app, 
            and many other club tasks and events.
            You will need to learn other languages and technologies outside of your University studies.
            It is very demanding yet very rewarding, if you think you are up to the challenge, then please apply within.
            <div class="popup__text--break">
                Your professional contact information
                <a class="popup__link--9" href="www.linkedin.com/">Linkedin</a> 
                and your personal projects
                <a class="popup__link--9" href=" https://github.com">Github</a>
            </div>
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
</div>
