{% load static %}

<!-- Pop up 1 -->
<div id="popup-1" class="popup">
    <div class="popup__content">
        <div class="popup__left">
        <img class="popup__img" src="{% static 'landingPage/img/lenz-popup.jpg' %}" alt="Lenz T Paul">
        <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
            <div class="popup__right">
                <!-- this is the close button -->
                <a class="popup__close" href="#section-members">&times;</a>
                <h2 class="heading-secondary u-margin-bottom-small">Lenz T Paul</h2>
                <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Lead</h3>
                <p class="popup__text">
                Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
                similique? Similique dicta delectus doloribus magni quo adipisci 
                eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
                ipsam quis ex maxime ducimus animi? Architecto labore magni quas 
                architecto corporis Dolorum nesciunt cupiditate animi quam labore!
                Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
                neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
                ratione? Illum.
                </p>
                <!-- Contact Icons here -->
            </div>
    </div>
    </div>

    <!-- Pop up 2  -->
    <div id="popup-2" class="popup">
    <div class="popup__content">
        <div class="popup__left">
    <img class="popup__img" src="{% static 'landingPage/img/faith-popup.jpg' %}" alt="Faith Hewitt">
    <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Faith Hewitt</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member </h3>
        <p class="popup__text">
            Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
            similique? Similique dicta delectus doloribus magni quo adipisci 
            eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
            ipsam quis ex maxime ducimus animi? Architecto labore magni quas Architecto
            corporis Dolorum nesciunt cupiditate animi quam labore!
            Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
            neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
            ratione? Illum.
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
    </div>

    <!-- Pop up 3  -->
    <div id="popup-3" class="popup">
    <div class="popup__content">
        <div class="popup__left">
    <img class="popup__img" src="{% static 'landingPage/img/matt-popup.jpg' %}" alt="Matt Williams">
    <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Matt Williams</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
        <p class="popup__text">
            Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
            similique? Similique dicta delectus doloribus magni quo adipisci 
            eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
            ipsam quis ex maxime ducimus animi? Architecto labore magni quas 
            architecto corporis Dolorum nesciunt cupiditate animi quam labore!
            Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
            neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
            ratione? Illum.
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
    </div>

    <!-- Pop up 4  -->
    <div id="popup-4" class="popup">
    <div class="popup__content">
        <div class="popup__left">
    <img class="popup__img" src="{% static 'landingPage/img/bohdan-popup.png' %}" alt="Bohdan Natsevych">
    <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Bohdan Natsevych</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
        <p class="popup__text">
            Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
            similique? Similique dicta delectus doloribus magni quo adipisci 
            eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
            ipsam quis ex maxime ducimus animi? Architecto labore magni quas 
            architecto corporis Dolorum nesciunt cupiditate animi quam labore!
            Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
            neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
            ratione? Illum.
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
    </div>

    <!-- Pop up 5  -->
    <div id="popup-5" class="popup">
    <div class="popup__content">
        <div class="popup__left">
    <img class="popup__img" src="{% static 'landingPage/img/liam-popup.jpg' %}" alt="Liam Kaufman-Willis">
    <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Liam Kaufman-Willis</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
        <p class="popup__text">
            Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
            similique? Similique dicta delectus doloribus magni quo adipisci 
            eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
            ipsam quis ex maxime ducimus animi? Architecto labore magni quas 
            architecto corporis Dolorum nesciunt cupiditate animi quam labore!
            Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
            neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
            ratione? Illum.
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
    </div>

    <!-- Pop up 6  -->
    <div id="popup-6" class="popup">
    <div class="popup__content">
        <div class="popup__left">
    <img class="popup__img" src="{% static 'landingPage/img/phil-popup.jpg' %}" alt="Phil Beton">
    <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Phil Beton</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
        <p class="popup__text">
            Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
            similique? Similique dicta delectus doloribus magni quo adipisci 
            eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
            ipsam quis ex maxime ducimus animi? Architecto labore magni quas 
            architecto corporis Dolorum nesciunt cupiditate animi quam labore!
            Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
            neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
            ratione? Illum.
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
    </div>

    <!-- Pop up 7  -->
    <div id="popup-7" class="popup">
    <div class="popup__content">
        <div class="popup__left">
    <img class="popup__img" src="{% static 'landingPage/img/ryo-popup.jpg' %}" alt="Ryo Kihara">
    <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Ryo Kihara</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
        <p class="popup__text">
            Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
            similique? Similique dicta delectus doloribus magni quo adipisci 
            eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
            ipsam quis ex maxime ducimus animi? Architecto labore magni quas 
            architecto corporis Dolorum nesciunt cupiditate animi quam labore!
            Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
            neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
            ratione? Illum.
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
    </div>

    <!-- Pop up 8  -->
    <div id="popup-8" class="popup">
    <div class="popup__content">
        <div class="popup__left">
    <img class="popup__img" src="{% static 'landingPage/img/ezra-popup.jpg' %}" alt="Ezra Macdonald">
    <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Ezra Macdonald</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash; Member</h3>
        <p class="popup__text">
            Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
            similique? Similique dicta delectus doloribus magni quo adipisci 
            eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
            ipsam quis ex maxime ducimus animi? Architecto labore magni quas 
            architecto corporis Dolorum nesciunt cupiditate animi quam labore!
            Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
            neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
            ratione? Illum.
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
    </div>

    <!-- Pop up 9  -->
    <div id="popup-9" class="popup">
    <div class="popup__content">
        <div class="popup__left">
    <img class="popup__img" src="{% static 'landingPage/img/new-member-popup.png' %}" alt="new member">
    <img class="popup__img--logo" src="{% static 'landingPage/img/dsc-logo.jpg' %}" alt="VIU DSC">
        </div>
        <div class="popup__right">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-members">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">New Member</h2>
        <h3 class="heading-tertiary-big u-margin-bottom-small">DSC &ndash;Member</h3>
        <p class="popup__text">
            Amet porro voluptate ad recusandae eligendi Tempore sed at quo quia
            similique? Similique dicta delectus doloribus magni quo adipisci 
            eligendi illo! Enim maiores quos expedita aliquam dolore aperiam Minima 
            ipsam quis ex maxime ducimus animi? Architecto labore magni quas 
            architecto corporis Dolorum nesciunt cupiditate animi quam labore!
            Dolorem error nam nostrum illum et culpa, dolorum iusto Facere temporibus
            neque iusto doloremque asperiores atque Mollitia amet nemo ullam maxime 
            ratione? Illum.
        </p>
        <!-- Contact Icons here -->
        </div>
    </div>
</div>