{% load static %}

<section class="section-members">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
        Developer Student Club Members
        </h2>
    </div>

    <div class="row">

        <!-- Card 1 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--1">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--1">
                Lenz T Paul
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Lead</li>
                <li>What Should</li>
                <li>We write</li>
                <li>in this</li>
                <li>description</li>
                </ul>
            </div>
            <!-- Back of Card -->
            </div>
            <div class="card__side card__side--back card__side--back-1">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-1">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Card 2 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--2">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--2">
                Faith Hewitt
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Member</li>
                <li>What Should</li>
                <li>We write</li>
                <li>in this</li>
                <li>description</li>
                </ul>
            </div>
            </div>
            <!-- Back of Card -->
            <div class="card__side card__side--back card__side--back-2">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-2">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Card 3 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--3">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--3">
                Matt Williams
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Member</li>
                <li>What Should</li>
                <li>We write</li>
                <li>in this</li>
                <li>description</li>
                </ul>
            </div>
            </div>
            <!-- Back of Card -->
            <div class="card__side card__side--back card__side--back-3">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-3">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Second Row of Contact Cards  -->
    <div class="row">
        <!-- Card 4 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--4">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--4">
                Dan Natsevych
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Member</li>
                <li>What Should</li>
                <li>We write</li>
                <li>in this</li>
                <li>description</li>
                </ul>
            </div>
            <!-- Back of Card -->
            </div>
            <div class="card__side card__side--back card__side--back-4">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-4">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Card 5 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--5">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--5">
                Liam Kaufman-Willis
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Member</li>
                <li>What Should</li>
                <li>We write</li>
                <li>in this</li>
                <li>description</li>
                </ul>
            </div>
            </div>
            <!-- Back of Card -->
            <div class="card__side card__side--back card__side--back-5">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-5">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Card 6 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--6">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--6">
                Phil Beton
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Member</li>
                <li>What Should</li>
                <li>We write</li>
                <li>in this</li>
                <li>description</li>
                </ul>
            </div>
            </div>
            <!-- Back of Card -->
            <div class="card__side card__side--back card__side--back-6">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-6">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Third Row of Contact Cards  -->
    <div class="row">
        <!-- Card 4 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--7">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--7">
                Ryo Kihara
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Member</li>
                <li>What Should</li>
                <li>We write</li>
                <li>in this</li>
                <li>description</li>
                </ul>
            </div>
            <!-- Back of Card -->
            </div>
            <div class="card__side card__side--back card__side--back-7">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-7">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Card 8 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--8">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--8">
                Ezra Macdonald
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Member</li>
                <li>What Should</li>
                <li>We write</li>
                <li>in this</li>
                <li>description</li>
                </ul>
            </div>
            </div>
            <!-- Back of Card -->
            <div class="card__side card__side--back card__side--back-8">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-8">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

        <!-- Card 9 -->
        <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
            <div class="card__picture card__picture--9">
            <!-- this means empty space -->
                &nbsp;
            </div>
            <h4 class="card__heading">
                <span class="card__heading-span card__heading-span--9">
                New Member
                </span>
            </h4>
            <div class="card__details">
                <ul>
                <li>DSC Member</li>
                <li>We</li>
                <li>Want</li>
                <li>you</li>
                <li>to join</li>
                </ul>
            </div>
            </div>
            <!-- Back of Card -->
            <div class="card__side card__side--back card__side--back-9">
            <div class="card--cta">
                <div class="card__icon-box">
                <p class="card__icon-text">Contact</p>
                <!-- Button -->
                <div class="form__group u-margin-top-small">
                    <a class=" btn btn--white" href="#popup-9">More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>