<!-------------------------- 
Navigation section 
Your probably wondering where all the javascript
babble is at, there is none, for
God is not the author of such confusion.
This is the infamous check box hack, using
pure CSS
--------------------------------->
<div class="navigation">
    <input class="navigation__checkbox" type="checkbox" id="navi-toggle">
    <label class="navigation__button" for="navi-toggle">
        <!-- Build the hamburger menu from spans -->
        <span class="navigation__icon">&nbsp;</span>

    </label>
    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link" href="#">
            <span>01</span> Login</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">
            <span>02</span> Blog</a></li>
        <li class="navigation__item"><a class="navigation__link" href="#">
            <span>03</span> Projects</a></li>
        </ul>
    </nav>
</div>