<section id="register" class="section-register">
    <div class="row">
        <div class="register">
        <div class="register__form">
            <form class="form" method="post">
                {% csrf_token %}
                <div class="u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                    Want to join?
                    </h2>
                </div>
                <!-- Name -->
                <div class="form__group">
                    <input class="form__input" id="name" 
                    type="text" placeholder="Full Name.." name="studentName" required>
                    <label class="form__label" for="name">Full Name</label>
                </div>
                <!-- major -->
                <div class="form__group">
                    <input class="form__input" id="major" 
                    type="text" placeholder="Major.." name="major" required>
                    <label class="form__label" for="major">Major</label>
                </div>
                <!-- email -->
                <div class="form__group">
                    <input class="form__input" id="email" 
                    type="email" placeholder="Email address.." name="email" required>
                    <label class="form__label" for="name">Email</label>
                </div>

            <!-- 
                Radio Button Hack
                -------------
                The Beloow code is a set-up for the radio button hack.
                The same technique used in creating the naviagation button.
                The CSS does the majority of the magic, how-ever since we cannot
                directly style the radio buttons, we must associate the input
                radio button elemement with a label, then style the label. Notice
                the input tags id element will match the label tags for each elemement.
            -->
            <div class="form__group">
                <div class="form__radio-group">
                <input class="form__radio-input" type="radio" id="year1" name="year" value=1>
                <label class="form__radio-label" for="year1">
                    <span class="form__radio-button"></span>
                    1st year
                </label>
                </div>

                <div class="form__radio-group">
                <input class="form__radio-input" type="radio" id="year2" name="year" value=2>
                <label class="form__radio-label" for="year2">
                    <span class="form__radio-button"></span>
                    2nd year
                </label>
                </div>

                <div class="form__radio-group">
                <input class="form__radio-input" type="radio" id="year3" name="year" value=3>
                <label class="form__radio-label" for="year3">
                    <span class="form__radio-button"></span>
                    3rd year
                </label>
                </div>

                <div class="form__radio-group">
                <input class="form__radio-input" type="radio" id="year4" name="year" value=4>
                <label class="form__radio-label" for="year4">
                    <span class="form__radio-button"></span>
                    4th year
                </label>
                </div>
            </div>
            
            <div class="form__group u-margin-top-small">
                <button class=" btn btn--primary" id="submit">Submit</button>
            </div>

            </form>
        </div>
        </div>
    </div>
</section>

<!-- Registration Popup -->
<div id="popup-10" class="popup">
    <div class="popup__content">
        <div class="popup__back">
        <!-- this is the close button -->
        <a class="popup__close" href="#section-register">&times;</a>
        <p class="popup__msg">Thank you for subscribing!</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".form").submit(function(e){
// prevent from normal form behaviour
    e.preventDefault();
    $('body, #submit').css('cursor', 'progress');
  // serialize the form data
    var serializedData = $(this).serialize();
    $.ajax({
      type : 'POST',
      url :  '',
      data : serializedData,
      success : function(response){
  //reset the form after successful submit
            $("#name, #major, #email").val('');
              $("#year1, #year2, #year3, #year4").prop('checked', false);
            $('body, #submit').css('cursor', 'default');
        location.href='#popup-10';
      },
      error : function(response){
        alert(response);
      }

    });
    return false;
});

</script>