.row {
  /* 1140 px is standard for width
   * divide px by 10, that will give you rem */
  max-width: $grid-width;
  /* center in viewport */
  /* top: 0, left and right: auto */
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-verticle;
  }
  
  @include clearfix;
  
  // select all class attributes that start with col-
  // using regular expression ^
  [class^="col-"] {
    float:left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  
  /* This is how your build a custom grid 
   * using float, its the safest for all browsers
   * this code can easily be reused in any other project
   * it is much lighter weight than using a massive 
   * framework like Bootstrap, or even Foundation.
   * */

  // subtract the amount of gutters, divide by columns
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) 
    / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 
    #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * 
    #{$gutter-horizontal});
  }
}
