// Reusable code, mixins are similar to void functions
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    // clear both floats
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin close {
  color: $color-grey-dark;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
