/****************** Variables **********************/

// Color Variables

$color-primary: #1976d2;
$color-primary-light:#1565c0;
$color-primary-dark: #0d47a1;

$color-secondary: #80d8ff;
$color-secondary-light: #40c4ff;
$color-secondary-dark: #00b0ff;

$color-indigo: #8c9eff;
$color-indigo-light: #536dfe;
$color-indigo-dark: #3d5afe;

$color-deep-purple: #b388ff;
$color-deep-purple-light: #7c4dff;
$color-deep-purple-dark: #651fff;

$color-success: #b9f6ca;
$color-success-light: #69f0ae;
$color-success-dark: #00e676;

$color-warning: #ffd180;
$color-warning-light: #ffab40;
$color-warning-dark: #ff9100;

$color-danger: #ff8a80;
$color-danger-light: #ff5252;
$color-danger-dark: #ff1744;

$color-pink: #ff80ab;
$color-pink-light: #ff4081;
$color-pink-dark: #f50057;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

$color-darkness: #616161;
$color-darkness-light:#424242;
$color-darkness-dark: #212121;


$color-white: #fff;
$color-black: #000;


// Font
$default-font-size: 1.7rem;

// Grid Variables
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;
