/*
 *  0 - 600px:      Phone
 *  600 - 900px:    tablet portrait
 *  900-1200px:     tablet landscape
 *  1200 - 1800px:  Normal styles apply
 *  1800px +        Big desktop
 * */
/*
  $breakpoint arument choicees
  - phone
  - tab-port
  - tab-land
  - big-desktop

  Order: base " typography > general layout > page layout > components
 * */
/****************** Variables **********************/
/* Animations that will happen when the page loads
 * for the section: header
 * */
@keyframes moveInLeft {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  /* middle */
  80% {
    transform: translateX(20px); }
  /* Finish */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(100px); }
  /* middle */
  80% {
    transform: translateX(-20px); }
  /* Finish */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  /* Start */
  0% {
    opacity: 0;
    transform: translateY(30px); }
  /* Finish */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Simple Reset for all browsers*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /* set padding to provide an external border */ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*
   * this stops the bug of animation shaking.
   * it is a miniscule gripe, but un-proffesional
   * to leave it in.
   * */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4rem !important;
        margin-top: 15rem;
        letter-spacing: 1rem;
        font-family: 4rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #616161, #424242);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  text-shadow: 0.2rem 1rem 3rem rgba(0, 0, 0, 0.3); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-tertiary-big {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.7rem; }
  .paragraph:not(last-child) {
    margin-bottom: 3rem; }

/*  This file is for reusable helper classes
 *  If you are familar with any CSS framworks
 *  like Bootstrap, mb-10 is a utillity that
 *  puts 10px of padding on the bottom margin.
 *  Those types of classes will be defined here,
 *  so we can have rapid uniform development,
 *  which will make it especially easy to
 *  mold this front end to the future Django
 *  implementations.
 * */
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* Building the overly complex and convaluted
 * Animated Button using pseudo classes
 * */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  /*Top: Right: Bottom, left*/
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.7rem;
  border: none;
  cursor: pointer;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  /* move the button up on hover */
  transform: translateY(-3px);
  /*          x  y   blurr   color*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after, .btn:focus::after {
    /* increase the element size on hover
       * this is what sets the fade effect
       * */
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  /* When button is clicked */
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  background-color: #64b5f6;
  color: #fff; }
  .btn--primary::after {
    background-color: #64b5f6; }

.btn--success {
  background-color: #81c784;
  color: #fff; }
  .btn--success::after {
    background-color: #81c784; }

.btn--warning {
  background-color: #ffb74d;
  color: #fff; }
  .btn--warning::after {
    background-color: #ffb74d; }

.btn--danger {
  background-color: #ff8a80;
  color: #fff; }
  .btn--danger::after {
    background-color: #ff8a80; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /* hide behind the actual button */
  position: absolute;
  top: 0;
  left: 0;
  /* define the position of an element if
     * items are stacked
     * */
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  outline: none;
  font-size: 1.7rem;
  color: #64b5f6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #64b5f6;
  padding: 5px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #64b5f6;
  color: #fff;
  box-shadow: 0 1 rem 2 rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5 rem 2 rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 58rem; }
  .card__side {
    height: 58rem;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb74d, #ffa726, #ff9800); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #81c784, #66bb6a, #4caf50); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #64b5f6, #42a5f5, #2196f3); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #4dd0e1, #26c6da, #00bcd4); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #7986cb, #5c6bc0, #3f51b5); }
      .card__side--back-6 {
        background-image: linear-gradient(to right bottom, #f8bbd0, #f48fb1, #f06292); }
      .card__side--back-7 {
        background-image: linear-gradient(to right bottom, #b388ff, #7c4dff, #651fff); }
      .card__side--back-8 {
        background-image: linear-gradient(to right bottom, #64b5f6, #42a5f5, #2196f3); }
      .card__side--back-9 {
        background-image: linear-gradient(to right bottom, #616161, #424242, #212121); }
  .card:hover .card__side--front {
    transform: rotatey(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 30rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb74d, #ffa726, #ff9800), url(../img/lenz.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #81c784, #66bb6a, #4caf50), url(../img/faith.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #64b5f6, #42a5f5, #2196f3), url(../img/matt.png); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, #4dd0e1, #26c6da, #00bcd4), url(../img/bohdan.png); }
    .card__picture--5 {
      background-image: linear-gradient(to right bottom, #7986cb, #5c6bc0, #3f51b5), url(../img/liam.jpg); }
    .card__picture--6 {
      background-image: linear-gradient(to right bottom, #f8bbd0, #f48fb1, #f06292), url(../img/phill.jpg); }
    .card__picture--7 {
      background-image: linear-gradient(to right bottom, #b388ff, #7c4dff, #651fff), url(../img/ryo.jpg); }
    .card__picture--8 {
      background-image: linear-gradient(to right bottom, #64b5f6, #42a5f5, #2196f3), url(../img/ezra.jpg); }
    .card__picture--9 {
      background-image: linear-gradient(to right bottom, #616161, #424242, #212121), url(../img/new-member.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 22rem;
    right: 2rem;
    width: 45%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 183, 77, 0.85), rgba(255, 167, 38, 0.85), rgba(255, 152, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(129, 199, 132, 0.85), rgba(102, 187, 106, 0.85), rgba(76, 175, 80, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(100, 181, 246, 0.85), rgba(66, 165, 245, 0.85), rgba(33, 150, 243, 0.85)); }
    .card__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(77, 208, 225, 0.85), rgba(38, 198, 218, 0.85), rgba(0, 188, 212, 0.85)); }
    .card__heading-span--5 {
      background-image: linear-gradient(to right bottom, rgba(121, 134, 203, 0.85), rgba(92, 107, 192, 0.85), rgba(63, 81, 181, 0.85)); }
    .card__heading-span--6 {
      background-image: linear-gradient(to right bottom, rgba(248, 187, 208, 0.85), rgba(244, 143, 177, 0.85), rgba(240, 98, 146, 0.85)); }
    .card__heading-span--7 {
      background-image: linear-gradient(to right bottom, rgba(179, 136, 255, 0.85), rgba(124, 77, 255, 0.85), rgba(101, 31, 255, 0.85)); }
    .card__heading-span--8 {
      background-image: linear-gradient(to right bottom, rgba(100, 181, 246, 0.85), rgba(66, 165, 245, 0.85), rgba(33, 150, 243, 0.85)); }
    .card__heading-span--9 {
      background-image: linear-gradient(to right bottom, rgba(97, 97, 97, 0.85), rgba(66, 66, 66, 0.85), rgba(33, 33, 33, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card--cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__icon-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__icon-text {
    margin-top: 5rem;
    font-size: 5rem;
    font-weight: 300; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 0;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: -4rem;
        padding-bottom: 4rem; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotatey(0); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__details {
        padding: 3rem; }
      .card--cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 1rem 4rem; }
      .card__icon-box {
        text-align: center;
        margin-bottom: 3rem;
        color: #fff; }
      .card__icon-text {
        display: none; } }

.composition {
  /* setting the position of the 3 photos to absolute
   * causes them to stack to the top left corner if its
   * parent element, which in this case will cause
   * them to stack to the .composition element,
   * so we need to set that element to relative
   * */
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #64b5f6;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: -2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

/* code for the featurebox from the feature box section*/
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  padding: 3rem 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #64b5f6, #42a5f5, #2196f3);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.03rem);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.95); }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media (max-width: 37.5em) {
    .form__input {
      width: 100%;
      margin-bottom: 1rem; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #81c784; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff1744; }
  .form__input::-webkit-input-placeholder {
    color: #424242; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: inline-block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block;
  padding-bottom: 1rem; }
  @media (max-width: 37.5em) {
    .form__radio-group {
      padding-right: 2rem;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #64b5f6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #64b5f6;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

/*
 *  This is the code for the popup that happens when
 *  the button on the back of the cards is pressed.
 *  This section is meant to show more in-depth
 *  information about the Developers on the DSC team.
 */
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
    @media (max-width: 37.5em) {
      .popup__left {
        display: none; } }
  .popup__right {
    padding: 3rem 5rem;
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle; }
    .popup__back {
    padding: 3rem 5rem;
    width: 66.6666667%;
    display: table-cell;
      color:ghostwhite;
    background-image: linear-gradient(to right bottom, rgba(100, 181, 246, 0.8), rgba(66, 165, 245, 0.8), rgba(33, 10, 80, 1)), url(../img/letter_1.png);
      background-repeat: no-repeat;
      background-position: center;
    vertical-align: middle; }
  .popup__img {
    display: block;
    width: 100%;
    height: auto;
    transform: scale(0.8);
    border-radius: 3px; }
  .popup__img--logo {
    display: block;
    width: 100%;
    height: auto;
    transform: scale(0.8); }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 1;
    -moz-column-rule: 2;
    -moz-column-gap: 2rem;
    -webkit-column-count: 1;
    -webkit-column-rule: 2px dotted #eee;
    -webkit-column-gap: 2rem;
    column-count: 1;
    column-rule: 2px dotted #eee;
    column-gap: 2rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    .popup__msg {
      margin: auto;
      font-size: 3.4rem;
      text-align: center;
   }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  .popup__close:hover {
    color: #64b5f6; }

/* Updates section */
.updates {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.7rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .updates {
      width: 100%;
      padding: 4rem 10rem 4rem 10rem; } }
  @media (max-width: 37.5em) {
    .updates {
      transform: skewX(0); } }
  .updates__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .updates__shape {
        transform: translateX(-3rem) skewX(0); } }
  .updates__img {
    height: 100%;
    transition: all .5s; }
  .updates__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .updates__text {
        transform: skewX(0); } }
  .updates__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s; }
  .updates:hover .updates__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .updates:hover .updates__img {
    transfor: translateX(-4rem) scale(1);
    filter: brightness(40%); }

.footer {
  background-color: #212121;
  padding: 15rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 20rem;
    height: auto;
    background-color: #212121; }
  .footer__navigation {
    border-top: 1px solid #424242;
    margin-bottom: 3px;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none;
    padding-top: 1rem; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(::last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    padding: 0 .6rem;
    background-color: #212121;
    color: #64b5f6;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #64b5f6;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    transform: rotate(5deg) scale(1.3);
    opacity: .8; }
  .footer__copyright {
    border-top: 1px solid #616161;
    background-color: #212121;
    padding-top: 1rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

/*  Custom Grid Code:
 *  DO NOT EDIT THIS FILE UNLESS YOU KNOW WHAT YOU ARE DOING
 * */
.row {
  /* 1140 px is standard for width
   * divide px by 10, that will give you rem */
  max-width: 114rem;
  /* center in viewport */
  /* top: 0, left and right: auto */
  margin: 0 auto;
  /* This is how your build a custom grid
   * using float, its the safest for all browsers
   * this code can easily be reused in any other project
   * it is much lighter than using a monolithic
   * framework like Bootstrap, or even Foundation.
   * */ }
  @media (max-width: 75em) {
    .row {
      padding: 0 5rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)  / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) +  6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 *  6rem); }

.header {
  /* 95% of the viewport height */
  height: 95vh;
  /* specify gradient color and image */
  background-image: linear-gradient(to right bottom, rgba(100, 181, 246, 0.8), rgba(66, 165, 245, 0.8), rgba(33, 150, 243, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* set position top so the top of the image
   * sticks in one place
   * when resize happens
   * */
  background-position: top;
  position: relative;
  /*                 x y, x y, x y, */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 100%); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    /* put the logo at the top left corner */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    width: 6rem;
    height: auto; }
    @media (max-width: 37.5em) {
      .header__logo {
        width: 7rem;
        height: auto; } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  opacity: 0;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(#64b5f6, #42a5f5, #2196f3);
  z-index: 1000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1)}
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 3.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 2.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  left: -50%;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 100%;
  list-style: none;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #64b5f6;
  transform: translateX(2rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  opacity: 1;}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #616161;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

/* Page specific code goes in this file */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(100, 181, 246, 0.7), rgba(66, 165, 245, 0.7), rgba(33, 150, 243, 0.7)), url(../img/feature-section.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0;
      background-image: linear-gradient(to right bottom, rgba(100, 181, 246, 0.7), rgba(66, 165, 245, 0.7), rgba(33, 150, 243, 0.7)), url(../img/feature-section.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; } }

.section-members {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-members {
      padding: 20rem 0 10rem 0; } }

.section-updates {
  position: relative;
  padding: 10rem 0; }
  @media (max-width: 56.25em) {
    .section-updates {
      padding: 7rem 0; } }

.section-register {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #64b5f6, #42a5f5, #2196f3); }
  @media (max-width: 56.25em) {
    .section-register {
      padding: 10rem 0; } }

.register {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../img/register-section.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .register {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../img/register-section.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .register {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 80%), url(../img/register-section.jpg);
      background-size: cover; } }
  .register__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .register__form {
        width: 50%; } }
    @media (max-width: 56.25em) {
      .register__form {
        width: 100%; } }
