.footer {
  background-color: $color-darkness-dark;
  padding: 15rem 0;
  font-size: 1.4rem;
  
  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 20rem;
    height: auto;
    background-color: $color-darkness-dark;
  }

  &__navigation {
    border-top: 1px solid $color-darkness-light;
    margin-bottom: 3px;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    padding-top: 1rem;
  }

  &__item {
    display: inline-block;

    &:not(::last-child) {
      margin-right: 1.5rem;
    }

  }

  &__link {
    &:link,
    &:visited {
      padding: 0 .6rem;
      background-color: $color-darkness-dark;
      color: $color-primary;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .8);
      transform: rotate(5deg) scale(1.3);
      opacity: .8;
    }
  }

  &__copyright {
    border-top: 1px solid $color-darkness;
    background-color: $color-darkness-dark;
    padding-top: 1rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }

}
