<!-- {% load static %} -->
<!DOCTYPE html>
<!--
Developed by the:
/**     /**/**/**    /**
/**      ** ** **     **
/**     /**/**/**    /** 
//**    ** /**/**    /**
 //**  **  /**/**    /**
  //****   /**/**    /**
   //**    /**//******* 
    //     //  ///////  

   ******                                         **                    
  **////**                      ******           /**                    
 **    //   ******  ********** /**///** **   ** ******  *****  ******   
/**        **////**//**//**//**/**  /**/**  /**///**/  **///**//**//*   
/**       /**   /** /** /** /**/****** /**  /**  /**  /******* /** /    
//**    **/**   /** /** /** /**/**///  /**  /**  /**  /**////  /**      
 //****** //******  *** /** /**/**     //******  //** //******/***      
  //////   //////  ///  //  // //       //////    //   ////// ///       

  ********         **                                 
 **//////         //                                  
/**         *****  **  *****  *******   *****   *****  
/********* **///**/** **///**//**///** **///** **///** 
////////**/**  // /**/******* /**  /**/**  // /******* 
       /**/**   **/**/**////  /**  /**/**   **/**////  
 ******** //***** /**//****** ***  /**//***** //****** 
////////   /////  //  ////// ///   //  /////   //////  

   ******   **         **     
  **////** /**        /**     
 **    //  /** **   **/**     
/**        /**/**  /**/****** 
/**        /**/**  /**/**///**
//**    ** /**/**  /**/**  /**
 //******  ***//******/****** 
  //////  ///  ////// /////   

Markup uses BEM notation
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'landingPage/css/icon-font.css' %}">
  <link rel="stylesheet" href="{% static 'landingPage/css/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'landingPage/img/favicon.png' %}">
  <title>V.I.U Developer Student Club</title>
</head>
<body>
  
  {% block content %}{% endblock %}

  {% block footer %}{%endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>