.composition {
  /* setting the position of the 3 photos to absolute
   * causes them to stack to the top left corner if its
   * parent element, which in this case will cause
   * them to stack to the .composition element, 
   * so we need to set that element to relative
   * */
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    // slow down the transition to make it more smooth
    transition: all .2s;
    // offset gives the gap between the border
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.333333%;
      box-shadow: 0 1rem 3rem rgba($color-black, .2);
    }

    &--p1 {
      // move the picture up
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }
    
    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      // outline sets the blue border
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: -2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }
  
  // composition:hover composition__photo:not(:hover)
  &:hover &__photo:not(:hover) {
    transform: scale(.95)
  }

}
