/*  This file is for reusable helper classes
 *  If you are familar with any CSS framworks
 *  like Bootstrap, mb-10 is a utillity that
 *  puts 10px of padding on the bottom margin.
 *  Those types of classes will be defined here,
 *  so we can have rapid uniform development,
 *  which will make it especially easy to 
 *  mold this front end to the future Django
 *  implementations.
 * */

.u-center-text { 
  text-align: center;
}

.u-margin-bottom-small { 
  margin-bottom: 1.5rem !important; 
}

.u-margin-bottom-medium { 
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big { 
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small { 
  margin-top: 4rem !important; 
}

.u-margin-top-medium { 
  margin-top: 6rem !important;
}

.u-margin-top-big { 
  margin-top: 8rem !important;
}

.u-margin-top-huge { 
  margin-top: 10rem !important;
}
