/****************** Variables **********************/

// Color Variables

$color-primary: #64b5f6;
$color-primary-light:#42a5f5;
$color-primary-dark: #2196f3;

$color-secondary: #4fc3f7;
$color-secondary-light: #29b6f6;
$color-secondary-dark: #03a9f4;

$color-indigo: #7986cb;
$color-indigo-light: #5c6bc0;
$color-indigo-dark: #3f51b5;

$color-deep-purple: #b388ff;
$color-deep-purple-light: #7c4dff;
$color-deep-purple-dark: #651fff;

$color-success: #81c784;
$color-success-light: #66bb6a;
$color-success-dark: #4caf50;

$color-warning: #ffb74d;
$color-warning-light: #ffa726;
$color-warning-dark: #ff9800;

$color-cyan: #4dd0e1;
$color-cyan-light: #26c6da;
$color-cyan-dark: #00bcd4;


$color-danger: #ff8a80;
$color-danger-light: #ff5252;
$color-danger-dark: #ff1744;

$color-pink: #f8bbd0;
$color-pink-light: #f48fb1;
$color-pink-dark: #f06292;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

$color-darkness: #616161;
$color-darkness-light:#424242;
$color-darkness-dark: #212121;


$color-white: #fff;
$color-black: #000;


// Font
$default-font-size: 1.7rem;

// Grid Variables
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;
