/* Building the overly complex and convaluted
 * Animated Button using pseudo classes
 * */
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    /*Top: Right: Bottom, left*/
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &:hover {
    /* move the button up on hover */
    transform: translateY(-3px);
    /*          x  y   blurr   color*/
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      /* increase the element size on hover
       * this is what sets the fade effect
       * */
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  
  &:active,
  &:focus {
    /* When button is clicked */
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }
  
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }
  
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* hide behind the actual button */
    position: absolute;
    top: 0;
    left: 0;
    /* define the position of an element if
     * items are stacked
     * */
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}


.btn-text {
  &:link,
  &:visited {
    outline: none;
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 5px;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1 rem 2 rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5 rem 2 rem rgba($color-black, .15);
    transform: translateY(0);

  }
}
