.card {
  // Basic Card Functionality
  perspective: 150rem;
  // for firefox
  -moz-perspective: 150rem;
  position: relative;
  height: 58rem;

  &__side {
    // must set height in both places
    height: 58rem;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // hide the backside of an element
    backface-visibility: hidden;
    border-radius: 3px;
    // add overflow: hidden so picture doesnt
    // overlap our rounded corners
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
    background-color: $color-white;
    }

    // color for back of card
    &--back {
    background-color: green;
    transform: rotatey(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom,
        $color-warning, $color-warning-light, $color-warning-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom,
        $color-success, $color-success-light, $color-success-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom,
        $color-primary, $color-primary-light, $color-primary-dark);
      }

      &-4 {
        background-image: linear-gradient(to right bottom,
        $color-cyan, $color-cyan-light, $color-cyan-dark);
      }

      &-5 {
        background-image: linear-gradient(to right bottom,
        $color-indigo, $color-indigo-light, $color-indigo-dark);
      }

      &-6 {
        background-image: linear-gradient(to right bottom,
        $color-pink, $color-pink-light, $color-pink-dark);
      }

    }
  }
  
  // rotation of the card
  &:hover &__side--front {
    transform: rotatey(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // Card Front Styling
  &__picture {
    background-size: cover;
    height: 30rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom,
      $color-warning, $color-warning-light, $color-warning-dark),
      url(../img/lenz.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom,
      $color-success, $color-success-light, $color-success-dark),
      url(../img/phill.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom,
      $color-primary, $color-primary-light, $color-primary-dark),
      url(../img/matt.png);
    }

    &--4 {
      background-image: linear-gradient(to right bottom,
      $color-cyan, $color-cyan-light, $color-cyan-dark),
      url(../img/bohdan.png);
    }

    &--5 {
      background-image: linear-gradient(to right bottom,
      $color-indigo, $color-indigo-light, $color-indigo-dark),
      url(../img/liam.jpg);
    }

    &--6 {
      background-image: linear-gradient(to right bottom,
      $color-pink, $color-pink-light, $color-pink-dark),
      url(../img/faith.jpg);
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 22rem;
    right: 2rem;
    width: 45%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right bottom,
        rgba($color-warning, .85),
        rgba($color-warning-light, .85),
        rgba($color-warning-dark, .85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom,
        rgba($color-success, .85),
        rgba($color-success-light, .85),
        rgba($color-success-dark, .85));
    }

    &--3 {
      background-image: linear-gradient(to right bottom,
        rgba($color-primary, .85),
        rgba($color-primary-light, .85),
        rgba($color-primary-dark, .85));
    }

    &--4 {
      background-image: linear-gradient(to right bottom,
        rgba($color-cyan, .85),
        rgba($color-cyan-light, .85),
        rgba($color-cyan-dark, .85));
    }

    &--5 {
      background-image: linear-gradient(to right bottom,
        rgba($color-indigo, .85),
        rgba($color-indigo-light, .85),
        rgba($color-indigo-dark, .85));
    }

    &--6 {
      background-image: linear-gradient(to right bottom,
        rgba($color-pink, .85),
        rgba($color-pink-light, .85),
        rgba($color-pink-dark, .85));
    }
  }
  
  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // Back Side Styling
  //card--cta"> call to action
  //card__icon-box
  //card__icon-text
  //card__icon-text-2
  &--cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__icon-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__icon-text {
    margin-top: 5rem;
    font-size: 5rem;
    font-weight: 300;
  }
}
