.form {
  
  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .8);
    border: none;
    // invisible in the normal state
    border-bottom: 3px sold transparent;
    width: 90%;
    display: block;
    transition: all .3s;

    @include respond(phone) {
      width: 100%;
      margin-bottom: 1rem;
    }

    &:focus {
      outline: none;
      // make focus better for keyboard users
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-success;
    }

    &:focus:invalid {
      // take advantage of chrome built in
      // form validation
      border-bottom: 3px solid $color-danger-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-darkness-light;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: inline-block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    // seclect the adjacent child element of __group
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    // display side by side
    display: inline-block;
    padding-bottom: 1rem;

    @include respond(phone) {
      padding-right: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &__radio-button{
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;

    &::after {
      content: "";
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity .2s;
    }
  }
  
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
