/*
 *  This is the code for the popup that happens when
 *  the button on the back of the cards is pressed.
 *  This section is meant to show more in-depth
 *  information about the Developers on the DSC team.
 */

.popup {
  // this is the overlay
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .85);
  z-index: 4000;

  // This is how we hide pop ups to go to
  // re-direct to id's and anchors in our page
  opacity: 0;
  visibility: hidden;
  transition: all 1s;

  &__content {
    // this is the content box
    @include absCenter;

    width: 65%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    // hide the square edge images from overlapping our
    // rounded corners
    overflow: hidden;
    // opacity: 0;
    // transform: translate(-50%, -50%) scale(.25);
    // the .2s is a delay
    //transition: all .5s;
  }

  &__left {
    // these are all child elements in the content box.
    // __content is a table, with the main left and right:
    // children being table cells. Like colums and rows,
    // for easy manipulation
    width: 30%;
    display: table-cell;
  }

  &__right {
    padding: 15rem 5rem;
    width: 70%;
    display: table-cell;
    // verticle align helps us align our right content
    vertical-align: top;
  }

  &__img {
    display: block;
    width: 100%;
    transform: scale(.8);
    border-radius: 3px;
  }

  &--logo {
    display: block;
    background-size: cover;
    width: 100%;
  }

  &__text {
    font-size: 1.6rem;
    margin-bottom: 4rem;


    // prefix for all browsers
    -moz-column-count: 2;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;

    -webkit-column-count: 2;
    -webkit-column-rule: 2px dotted $color-grey-light-2;
    -webkit-column-gap: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px dotted $color-grey-light-2;


    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
  }
  
  // this is the open states
  &:target {
    // this is the magical psuedo selector
    // that allows us to raise the popup window
    // with out javascript when the more button
    // on the back of the card is pressed
    opacity: 1;
    visibility: visible;
  }

 //  &:target &__content {
 //    // have to repeat some code from __content
 //    // here, but its the only way to scale the animation
 //    opacity: 1;
 //    transform: translate(-50%, -50%) scale(1);
 //  }

  &__close {
    &:link,
    &:visited {
      @include close;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
