/* Updates section */

.updates {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;

  &__shape {
    background-color: $color-secondary;
    width: 15rem;
    height: 15rem;
    float: left;

  }
}
